<% if(errors.length){ %>
    <div class="alert alert-danger" role="alert">
        <ul style="margin-top: 30px">
            <% errors.forEach (item => { %>
                <li><%- item %></li>
            <% }); %>
        </ul>
    </div>     
<% } %>     

<%- (success.length) ? `<div class="alert alert-success" role="alert">${success}</div>` : '' %>

<form action="<%= model.getFormAction() %>" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" value="<%= model.name %>" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control"><%= model.description %></textarea>
    </div>
    <div class="form-group">
        <label>Image Url</label>
        <input type="text" name="image" value="<%= model.image %>" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Status</label>
        <select name="status" class="custom-select">
            <% model.getStatus().forEach(item=>{ %>
                <option value="<%= item.value %>" <%= (item.value == model.status) ? "selected" : "" %> > 
                    <%= item.label %> 
                </option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <% if(model.isNewRecord){ %>
            <button type="submit" class="btn btn-primary">Create New</button>        
        <% } else { %>
            <button type="submit" class="btn btn-info">Save Change</button>
        <% } %>

        <a href="<%= model.getUrlList() %>" class="float-right btn btn-dark">Back</a>
    </div>
</form>